/* What still needs to be done?...
   - style dialog windows
   - add media queries for tablet, desktop layout
   - change day style
   */

* {
  font-family: "ivysoft-variable", sans-serif;
  box-sizing: border-box;
  color: #5353ba;
}

#page-header {
  height: 75px;
  width: 100vw;
  padding: 0 10px;
}

main {
  width: 450px;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
}

/* #calendar-body {
  margin: 0;
  padding: 0;
  background-color: hsla(208, 100%, 97%, 0.8);
}
 */

.add-task-or-event-btn,
.edit-task-or-event-btn {
  border: none;
  background: none;
  width: 7px;
  height: 7px;
  margin: 5px;
  position: relative;
  right: 5%;
  top: 5%;
}

#cal-section {
  margin: 0 auto;
  width: 95%;
  height: 40%;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}

#cal-header {
  color: #5353ba;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  width: 400px;
  justify-content: space-between;
}

.cal-nav {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  transition: transform 250ms;
}

.cal-nav:hover {
  transform: scale(1.3);
}

#cal-body {
  margin: 20px auto;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 3px;
  justify-content: center;
}

.day {
  max-width: 60px;
  max-height: 60px;
  padding: 0;
  background-color: hsla(208, 100%, 87%, 0.8);
  border-radius: 5px;
  transition: all 250ms;
}

.day:hover {
  background-color: aliceblue;
}

.day-number {
  max-width: 15.5px;
  margin: 0 0 0 10px;
  font-size: 15px;
  font-weight: bold;
}

.day-name {
  font-size: 1.2em;
  margin: 0 10px 0 0;
}

.day-set {
  display: flex;
  justify-content: space-evenly;
}

.date-selection {
  margin-left: 40px;
}

#end-title {
  margin-left: 22px;
}

#form-container {
  width: 95%;
}

.fa-solid {
  width: 0.5em;
  height: 0.5em;
}

#green {
  color: #5dcf00;
}

#yellow {
  color: #fdda03;
}

#red {
  color: #f80200;
}

.priority-list {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
}

.reminder-div {
  display: flex;
  flex-direction: column;
}

/* .hidden {
  display: none;
} */

#quote-section {
  width: 90%;
  height: 40%;
  margin: 115px auto;
  border-radius: 10px;
  background-color: rgb(0, 179, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

#quote-text {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.75);
}

#quote-text p {
  font-size: 1.5em;
  font-variation-settings:
    "slnt" 0,
    "wght" 500;
  padding: 10px;
  text-align: center;
}
