/* What still needs to be done?...
   - style dialog windows
   - add media queries for tablet, desktop layout
   - change day style
   */

* {
  font-family: "ivysoft-variable", sans-serif;
  box-sizing: border-box;
  color: #5353ba;
}

#page-header {
  height: 75px;
  width: 100vw;
  padding: 0 10px;
}

main {
  width: 450px;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* #calendar-body {
  margin: 0;
  padding: 0;
  background-color: hsla(208, 100%, 97%, 0.8);
}
 */

.add-task-icon,
.edit-task-icon {
  border: none;
  background: none;
  width: 30px;
  height: 30px;
  margin: 5px;
  position: relative;
  left: 20%;
  top: 40%;
  display: none;
}

#cal-section {
  margin: 0 auto;
  width: 90%;
  height: 40%;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}

#cal-header {
  color: #5353ba;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  width: 400px;
  justify-content: space-between;
}

.cal-nav {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  transition: transform 250ms;
}

.cal-nav:hover {
  transform: scale(1.3);
}

#cal-body {
  margin: 20px auto;
  height: 300px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 3px;
  justify-content: center;
}

.day {
  position: relative;
  overflow: visible;
  width: 100%;
  height: 100%;
  min-height: 50px;
  padding: 0;
  background-color: hsla(208, 100%, 87%, 0.8);
  border-radius: 5px;
  transition: all 250ms;
}

.day:hover {
  background-color: aliceblue;
}

.day-number {
  max-width: 15.5px;
  margin: 0 0 0 5px;
  font-size: 1em;
}

.day-name {
  font-size: 0.8em;
  margin: 0 10px 0 0;
}

.day-set {
  display: flex;
  justify-content: space-evenly;
}

.date-selection {
  margin-left: 40px;
}

#end-title {
  margin-left: 22px;
}

#form-container {
  width: 95%;
  height: 30%;
  margin: auto;
}

.fa-solid {
  width: 0.5em;
  height: 0.5em;
}

#green {
  color: #5dcf00;
}

#yellow {
  color: #fdda03;
}

#red {
  color: #f80200;
}

.low-lvl {
  border: 4px solid #5dcf00;
}

.medium-lvl {
  border: 4px solid #fdda03;
}

.high-lvl {
  border: 4px solid #f80200;
}

.priority-list {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
}

.reminder-div {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

#quote-section {
  width: 90%;
  height: 40%;
  margin: 150px auto;
  border-radius: 10px;
  background-color: rgb(0, 179, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

#quote-text {
  width: 90%;
  height: 90%;
  aspect-ratio: 16 / 9;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.75);
}

#quote-text p {
  font-size: 1.5em;
  font-variation-settings:
    "slnt" 0,
    "wght" 500;
  padding: 10px;
  text-align: center;
}

.task-name {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 7px;
  height: 7px;
  font-size: 0.5em;
  background-color: #5353ba;
}

.task-name .task-text {
  display: none;
  font-size: 0.9em;
  margin: 2px 0;
}

.task-name:hover {
  width: 100px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.75);
  color: #5353ba;
}

.task-name:hover .task-text {
  display: block;
  font-size: 0.9em;
}

@media screen and (min-width: 768px) {
  main {
    height: 700px;
    max-width: 900px;
    width: 100%;
    margin: auto;
    flex-direction: column;
    align-items: center;
  }

  #cal-section {
    width: 700px;
    margin: 0 auto;
  }

  #cal-body {
    height: 500px;
  }

  .day {
    min-width: 80px;
    min-height: 80px;
  }

  .add-task-icon,
  .edit-task-icon {
    display: inline;
  }

  .task-name {
    background-color: transparent;
    width: 70px;
    position: relative;
    left: 5%;
    top: 5%;
  }

  /*   #start,
  #end {
    display: none;
  } */

  .task-name .task-text {
    display: block;
  }

  #quote-section {
    width: 700px;
    margin: 350px auto;
  }

  #quote-text {
    width: 90%;
  }
}
